*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  outline-color: #e7b10a;
  padding: 0;
}

:root {
  --activity-content-height: 5px;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
}

body {
  background-color: #2c3333;
  overflow-x: hidden;
  padding-block: 30px;
}

header {
  padding-bottom: 30px;
  text-align: center;
}

.json-heading {
  color: #e7b10a;
  text-align: center;
}

p {
  display: inline-block;
}

.main {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 20px;
}

#json-generator {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#json-generator h2 {
  align-self: center;
}

.activities-basic-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activities-basic-info > div {
  display: flex;
  gap: 5px;
}

.activities-basic-info > div:nth-child(1) {
  align-items: center;
}

.activities-basic-info > div:nth-child(2) {
  flex-direction: column;
}

.activities-basic-info label {
  font-size: 17px;
  font-weight: bold;
}

#activities-title {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.2s ease-out;
  width: 100%;
}

#activities-title:focus {
  padding: 10px;
}

.activities {
  border-top: 1px solid #323232;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.activity::after {
  background-color: #685c5c;
  content: '';
  height: 1px;
  margin-inline: auto;
  width: 100%;
}

.activity:last-child::after {
  content: none;
}

.activity h4 {
  font-size: 19px;
}

.activity label {
  font-weight: bold;
}

.activity-title-container,
.activity-content-container,
.activity-moreItems-container {
  display: flex;
}

.activity-title-container {
  align-items: center;
  gap: 5px;
}

.activity-content-container,
.activity-props {
  flex-direction: column;
  gap: 8px;
}

.activity label {
  color: #323232;
}

.activity-title,
.activity-content {
  border: 1px solid #222;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.activity-title:focus,
.activity-content:focus {
  padding: 10px;
}

.activity-title {
  padding: 5px 10px;
  width: 100%;
}

.activity-content {
  height: var(--activity-content-height);
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.activity-moreItems-container {
  gap: 5px;
}

.more-items,
.more-items > div {
  align-items: center;
  display: flex;
  gap: 5px;
}

.more-items label,
.more-items input {
  cursor: pointer;
}

.more-items label {
  font-weight: normal;
}

/* PROPS */
.activity-prop-levels,
.activity-prop-levels > div:not(.more-props-container) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.more-props-container {
  align-items: center;
  background-color: #323232;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 7px;
  width: max-content;
}

.more-props-container:active {
  opacity: 0.9;
}

.more-props-level {
  background-color: #e7b10a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  padding: 6px;
  transition: all 0.2s ease;
}

.more-props-container:hover .more-props-level {
  background-color: #c29203;
  color: #fff;
}

.add-more-props-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding-right: 10px;
  transition: all 0.2s ease;
}

.more-props-container:hover .add-more-props-button {
  color: #e7b10a;
}

.json-preview {
  background-color: #1e1e1e;
  border: 3px solid #014a6e;
  border-radius: 5px;
  color: #fff;
  padding: 30px;
  position: relative;
  width: 100%;
}

#clipboard-icon {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 10px;
  stroke: #dfdfdf;
  top: 10px;
  width: 40px;
}

#clipboard-icon:hover {
  stroke: #fff;
}

#clipboard-icon:active {
  opacity: 0.9;
}

.json-preview .json-heading {
  margin-bottom: 20px;
}

.prop {
  color: #00aaff;
}

.value.string {
  color: #7ed321;
}

.value.nonstring {
  color: #d19a66;
}

@media (max-width: 1050px) {
  .main {
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 540px) {
  #clipboard-icon {
    height: 35px;
    width: 35px;
  }
}