*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  outline-color: #e7b10a;
  padding: 0;
}

:root {
  --activity-content-height: 5px;
}

body {
  background-color: #2c3333;
  padding-block: 30px;
  position: relative;
}

@keyframes alertAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert-animation {
  animation: alertAnimation 0.2s linear;
}

.alert-message-container {
  background-color: #54ad54;
  border: 1px solid #5bf85b;
  border-radius: 5px;
  color: #fff;
  max-width: 230px;
  padding: 10px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 30px;
  transform: translateX(-50%);
  transition: all 0.15s ease-out;
  width: 100%;
}

header {
  padding-bottom: 30px;
  text-align: center;
}

.json-heading {
  color: #e7b10a;
  text-align: center;
}

p {
  display: inline-block;
}

.main {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 20px;
}

#json-generator {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 450px;
  max-width: 601px;
  padding: 20px;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

#json-generator h2 {
  align-self: center;
}

.carousel-arrows {
  cursor: default;
  position: absolute;
  right: 20px;
  top: 20px;
}

.carousel-arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.carousel-arrow-button:hover svg {
  fill: #bcbcbc;
}

.carousel-arrow-button:active svg {
  fill: #bcbcbc;
  opacity: 0.85;
}

.carousel-arrow-button:nth-child(1) {
  margin-right: 5px;
}

.carousel-arrow-button svg {
  fill: #ccc;
  height: 100%;
  width: 100%;
}

.carousel-arrow-button.carousel-arrow-button--active svg {
  fill: #000;
}

.carousel-arrow-button.carousel-arrow-button--active:hover svg {
  fill: #505050;
}

.activities-basic-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-activities-button {
  background-color: #323232;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 7px 10px;
  transition: all 0.2s ease;
}

#add-activities-button:hover {
  color: #e7b10a;
}

#add-activities-button:active {
  opacity: 0.9;
}

.activities-basic-info > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activities-basic-info label {
  font-size: 17px;
  font-weight: bold;
}

#activities-title {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.2s ease-out;
  width: 100%;
}

#activities-title:focus {
  padding: 10px;
}

.activities {
  border-top: 1px solid #323232;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-top: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.activity {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 15px;
  max-width: 800px;
  overflow-y: auto;
  padding-bottom: 5px;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  width: 100%;
}

.activities::-webkit-scrollbar,
.activity::-webkit-scrollbar {
  width: 15px;
}

.activities::-webkit-scrollbar-track,
.activity::-webkit-scrollbar-track {
  background: #494949;
}

.activities::-webkit-scrollbar-thumb,
.activity::-webkit-scrollbar-thumb {
  background-color: #8a8686;
  border-radius: 15px;
  border: 1px solid #404040;
}

.activity h4 {
  font-size: 19px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.delete-button {
  align-items: center;
  background-color: #323232;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 7px;
  justify-content: center;
  padding: 7px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  width: max-content;
}

.delete-button:hover {
  color: #e7b10a;
}

.delete-button:active {
  opacity: 0.9;
}

.delete-button svg {
  fill: #fff;
  max-width: 18px;
  transition: all 0.2s ease;
  width: 100%;
}

.delete-button:hover svg {
  fill: #e7b10a;
}

.activity label {
  font-weight: bold;
}

.activity-title-container,
.activity-content-container,
.activity-moreItems-container,
.activity-props {
  display: flex;
}

.activity-title-container {
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.activity-content-container {
  flex-direction: column;
  gap: 8px;
}

.activity label {
  color: #323232;
}

.activity-title,
.activity-content {
  border: 1px solid #222;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.activity-title:focus,
.activity-content:focus {
  padding: 10px;
}

.activity-title {
  padding: 5px 10px;
  width: 100%;
}

.activity-content {
  height: var(--activity-content-height);
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.activity-moreItems-container {
  gap: 5px;
}

.more-items,
.more-items > div {
  align-items: center;
  display: flex;
  gap: 5px;
}

.more-items label,
.more-items input {
  cursor: pointer;
}

.more-items label {
  font-weight: normal;
}

/* PROPS */
.activity-props {
  flex-direction: column;
  gap: 10px;
}

.activity-prop-levels,
.activity-prop-levels > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.activity-prop-levels {
  gap: 10px;
}

.activity-prop-levels
  > div
  > *:not(h4, .activity-prop-levels > div > div:last-child) {
  margin-bottom: 15px;
}

.add-more-props-button {
  align-items: center;
  background-color: #323232;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 7px;
  padding-right: 10px;
  transition: all 0.2s ease;
  width: max-content;
}

.add-more-props-button:hover {
  color: #e7b10a;
}

.add-more-props-button:active {
  opacity: 0.9;
}

.delete-prop-button {
  top: -5px;
}

.more-props-level {
  background-color: #e7b10a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: 15px;
  padding: 6px;
  transition: all 0.2s ease;
}

.add-more-props-button:hover .more-props-level {
  background-color: #c29203;
  color: #fff;
}

.hide {
  display: none;
}

@media (max-width: 1050px) {
  .main {
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
  }
}
